*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2823;
}

.container{
    background-color: #8fa691;
    border-radius: 10px;
    width: 820px;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuBar{
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#effects{
    background-color: #f9fadc;
    width: 400px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

#optionsOne{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#optionsTwo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#paper {
    background-color: white;
    width: 800px;
    height: 800px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.square{
    width: calc(800px / 16);
    height: calc(800px / 16);
}

button{
    background-color: #f9fadc;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    border-color: transparent;
    border-radius: 16px;
}

.menu{
    padding: 8px 24px;
}

#colorPicker{
    width: 82%;
}

#newGrid{
    padding: 24px 32px;
    font-size: 30px;
}